:root {
	--orange-primary: #f79c31;
	--red-primary: #dc3545;
	--green-primary: #27c383;
	--purple-primary: #7f3992;
	--text-color-primary: #707070;
	--text-color-secondary: #868686;
}

body {
	margin: 0;
	font-family: 'Roboto';
	color: var(--text-color-secondary);
}

li {
	display: inline;
}

body {
	margin: 0;
}

button {
	border: none;
}

hr {
	margin: 0;
}

h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}

.title {
	font-size: 1.5em;
	font-weight: 700;
	font-style: italic;
	color: var(--text-color-primary);
}

.game-title {
	font-weight: bold;
}

.new-bet-title {
	text-transform: uppercase;
	color: var(--text-color-secondary);
	font-weight: lighter;
}



/* Navbar */

header {
	border-bottom: 2px solid #ebebeb;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-size: 20px;
	font-style: italic;
	font-weight: 900;
	color: var(--text-color-primary);
}

.navbar div {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo h1 {
	font-size: 2.75em;
}

.logo hr {
	width: 100%;
	border: none;
	border-radius: 6px 6px 6px 6px;
	border-bottom: yellowgreen 7px solid;
}

.nav-link {
	display: inline-flex;
	text-decoration: none;
	margin: 0 35px;
	color: var(--text-color-primary);
}

.nav-link svg {
	margin-left: 10px;
}

/* ===== */

/* Bet */
.bet-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	margin: 75px auto;
	max-width: 1440px;
}

.game-container {
	max-width: 750px;
	padding: 10px 10px;
	margin-right: 100px;
}

.game-info {
	max-width: 750px;
	padding: 0 10px;
}


.actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* ===== */

/* Cart */

.cart-container {
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	width: 420px;
}
.cart-item-container {
	display: flex;
	align-items: center;
	margin: 20px 20px;
}
.cart-info-container {
	margin-left: 12px;
	padding-left: 10px;
	max-width: 210px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
  }

.cart-price-container {
	display: flex;
}
.cart-price-container p {
	margin-right: 10px;
}
.cart-info {
	margin: 20px 20px;
	width: 420px;
}

.cart-info h1{
	font-size: 2em;
	font-weight: 700;
	font-style: italic;
	color: var(--text-color-primary);
} 

.cart-body {
	max-height: 335px;
	overflow: auto;
	margin-bottom: 15px;
}

.total-cart {
	display: flex;
	margin-left: 20px;
	margin-bottom: 30px;
	color: var(--text-color-primary);
}

.total-cart-number {
	color: var(--text-color-secondary);
}

.cart-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e2e2e2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 96px;
}
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #27c383; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #27c383; 
  }

/* ===== */

/* Buttons */

.button {
	background: none;
	padding: 17px 25px;
	border-radius: 10px;
	font-weight: 550;
	font-size: 1em;
	cursor: pointer;
	outline: none;
}

.buttons-game {
	flex-direction: row;
}

.buttons-game button {
	width: 113px;
	height: 34px;
	border-radius: 100px 100px 100px 100px;
	border: yellowgreen 2px solid;
}

.button-save {
	display: flex;
	align-items: center;
	font-size: 2.1875em;
	color: var(--green-primary);
}

.icon-button-save {
	margin-left: 15px;
}


.button-action {
	margin-top: 5px;
	margin-right: 25px;
	border: 1px solid #27c383;
	color: #27c383;
}

.button-action-add {
	margin-top: 5px;
	margin-right: 25px;
	background-color: #27C383;
	border: 1px solid #27c383;
	color: #FFFFFF;
}

.button_save svg {
	margin-left: 10px;
	font-size: 25px;
}

.choose-game {
	min-width: 103px;
	background: none;
	margin: 20px 25px 20px 0;
	padding: 5px 10px;
	font-size: 0.875em;
	font-style: italic;
	font-weight: 700;
	border: 2px;
	border-radius: 100px;
  }
  
.choose-number {
	display: flex;
	flex-wrap: wrap;
  }
.game-number {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #adc0c4;
	margin: 20px 12px 20px 0;
	width: 65px;
	height: 65px;
	border-radius: 100px;
	font-size: 1.25em;
	font-weight: 700;
	cursor: pointer;
	color: #fff;
  }

.game-number_selected {
	background: var(--green-primary);
}


.button-add {
	display: flex;
	align-items: center;
	background-color: #27c383;
	color: #fff;
	margin-right: 20px;
}  

.button-add svg {
	width: 25px;
	margin-right: 20px;
}
.button-delete {
	background: url(./trash.svg) no-repeat;
	width: 45px;
	height: 35px;
	cursor: pointer;
	padding: 0;
	outline: none;
  }

/* ===== */


/* Footer */

footer {
	border-top: 2px solid #EBEBEB;
	color: var(--text-color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 190px;
}

footer p {
	padding: 28px;
}

/* ===== */

/* Scroll */
::-webkit-scrollbar {
	width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #27c383; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #27c383; 
}
/* ===== */


.invisible {
	display: none;
}